body,html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #fff;
  }

header {
    background-color: #111111;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
  }

  .Home{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  form {
    display: flex;
  }

  header img{
    height: 80px;
    width: 80px;
    padding: 10px;
    box-sizing: border-box;
  }
  
  input[type="text"] {
    background-color: #222;
    border: none;
    border-radius: 20px 0 0 20px;
    color: #fff;
    flex-grow: 1;
    padding: 10px 20px;
  }
  
  button[type="submit"] {
    background-color: #474747;
    cursor: pointer;
    border: none;
    border-radius: 0 20px 20px 0;
    color: #fff;
    padding: 10px 20px;
  }


  main {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #333;
  }

  main h1{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  main section{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  
  @media (max-width: 767px) {
    header form,
    nav ul {
      display: none;
    }
    header {
      padding: 10px;
    }
  }
  
  @media (min-width: 768px) {
    main {
      justify-content: center;
    }
  }
  
  .video-card {
    background-color: #444;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    margin: 20px;
    width: 20%;
    text-decoration: none;
  }
  
  .video-card img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    width: 100%;
  }
  
  .video-card h3 {
    padding: 10px;
    text-align: center;
    text-decoration: none;
  }
  
  .video-card p {
    padding: 0 20px 20px;
    text-align: center;
    font-size: 1em;
  }
  