<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projecto</title>
</head>
<body>
    <h1> Bienvenido Administrador/Data Scientist </h1>
    <h2> Datos de los usuarios </h2>
    


    <h2> Graficas de los datos </h2>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-otfef/embed/charts?id=63ed7d55-6d09-445e-835f-dfc90cbc4ae2&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-otfef/embed/charts?id=63ed7eca-7c5a-4a35-84e7-d92a3ecc1884&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    <iframe style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);" width="640" height="480" src="https://charts.mongodb.com/charts-project-0-otfef/embed/charts?id=63ed7e05-0ef2-44ef-843f-db1ca89769bf&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
</body>
</html>