<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <title>WiiTube</title>
</head>
<body>
    <header>
        <div class="Home">
            <h2>WiiTube</h2>
            <img class = "Logo" src="https://www.iconpacks.net/icons/2/free-youtube-logo-icon-2431-thumb.png" alt="Youtube Logo"/>
            <ul>
                <li><a href="{{url_for('home')}}">Home</a></li>
            </ul>
        </div>

        <form action="#" method="get">
            <input type="text" placeholder="Search"/>
            <button type="submit">Go</button>
        </form>
    </header>
    <main>
        <iframe width="640" height="480" src="https://charts.mongodb.com/charts-project-0-otfef/embed/charts?id=63ed7d55-6d09-445e-835f-dfc90cbc4ae2&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        <iframe width="640" height="480" src="https://charts.mongodb.com/charts-project-0-otfef/embed/charts?id=63ed7eca-7c5a-4a35-84e7-d92a3ecc1884&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
        <iframe width="640" height="480" src="https://charts.mongodb.com/charts-project-0-otfef/embed/charts?id=63ed7e05-0ef2-44ef-843f-db1ca89769bf&maxDataAge=3600&theme=light&autoRefresh=true"></iframe>
    </main>
</body>
</html>